<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Manage Node.js projects and npm packages using package.json</h1>
         <h3>Part 1 of Free Code Camp Backend Challenges</h3>
         <ul>
            <li>Se agregan etiquetas author y description al archivo package.json 23/12/2021 @zutjmx</li>
            <li>Se agrega etiqueta keywords al archivo package.json 23/12/2021 @zutjmx</li>
            <li>Se agrega license keywords al archivo package.json 23/12/2021 @zutjmx</li>
         </ul>
      </div>
   </body>

</html>
